RewriteEngine on

RewriteCond $1 !^(index.php|images\/*|robots.txt|uploads|news|material|google4c20ca90951eff33.html|google637b4f0d13f5439c.html|sitemap.xml\/*)

RewriteRule ^(.*)$ /geetanjali/index.php/$1 [L]